html {
    scroll-behavior: smooth;
}

.bubble {
    border-radius: 50%;
    transition: transform .2s;
}

.bubble:hover {
    opacity: 0.7;
    transform: scale(1.5);
    cursor: pointer;
}

.bold-text {
    color: #01579b;
}